NEXT_PUBLIC_LABSICO_WHATSAPP=5219982134937
NEXT_PUBLIC_LABSICO_EMAIL=contacto@labsico.mx
NEXT_PUBLIC_LABSICO_PHONE=+52 1 998-213-4937
NEXT_PUBLIC_LABSICO_ADDRESS=SM.99, MZA. 58 LT. 21 Calle 6, Mpio. Benito Juarez, CP 77536, Cancun, Quintana Roo
NEXT_PUBLIC_LABSICO_MAP_URL=https://www.google.com/maps/search/?api=1&query=Labsico%20Laboratorio%20al%20servicio%20de%20la%20construccion%20Cancun

INTERNAL_ACCESS_CODE=define-una-clave-local
INTERNAL_ACCESS_SECRET=define-un-secreto-local-largo-y-aleatorio
INTERNAL_COOKIE_SECURE=true
INTERNAL_REPORTES_URL=https://reportes-seybaplaya.onrender.com
INTERNAL_SLIPFORM_URL=https://deslizados-labsico.onrender.com
INTERNAL_GESTION_URL=
